.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 15% 20px 15%;
    padding: 0 0 20px 0;
    background-color: lightgrey;
}

.grid-container div {
    font-size: 1.5em;
}

.fila-izquierda {
    grid-column-start: 1;
    grid-column-end: -1;
    padding: 20px;
    text-align: left;
}

.celda {
    padding: 20px;
    text-align: center;
}

.untracked {
    background-color: crimson;
}

.staged {
    background-color: greenyellow;
}

.modified {
    background-color: goldenrod;
}

.unmodified {
    background-color: aquamarine;
}

.fila-centrada {
    grid-column-start: 1;
    grid-column-end: -1;
}

div.archivo {
    padding: 10px 0;
    width: 25%;
    text-align: center;
}


@keyframes untracked-a-staged {
    from {
        position: relative;
        left: 0%;
        background-color: crimson;
    }

    to {
        position: relative;
        left: 75%;
        background-color: greenyellow;
    }
}

.git-add-archivo {
    animation: untracked-a-staged 4s ease-in-out infinite;
}

@keyframes staged-a-untracked {
    from {
        position: relative;
        left: 75%;
        background-color: greenyellow;
    }

    to {
        position: relative;
        left: 0%;
        background-color: crimson;
    }
}

.git-rm {
    animation: staged-a-untracked 4s ease-in-out infinite;
}

@keyframes staged-a-unmodified {
    from {
        position: relative;
        left: 75%;
        background-color: greenyellow;
    }

    to {
        position: relative;
        left: 25%;
        background-color: aquamarine;
    }
}

.git-commit {
    animation: staged-a-unmodified 4s ease-in-out infinite;
}

@keyframes modified-a-unmodified {
    from {
        position: relative;
        left: 50%;
        background-color: goldenrod;
    }

    to {
        position: relative;
        left: 25%;
        background-color: aquamarine;
    }
}

.git-restore {
    animation: modified-a-unmodified 4s ease-in-out infinite;
}

@keyframes modified-a-staged {
    from {
        position: relative;
        left: 50%;
        background-color: goldenrod;
    }

    to {
        position: relative;
        left: 75%;
        background-color: greenyellow;
    }
}

.git-add-modificaciones {
    animation: modified-a-staged 4s ease-in-out infinite;
}

@keyframes untracked-a-unmodified {
    from {
        position: relative;
        left: 0%;
        background-color: crimson;
    }

    to {
        position: relative;
        left: 25%;
        background-color: aquamarine;
    }
}

.git-add-commit {
    animation: untracked-a-unmodified 4s ease-in-out infinite;
}